<div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card-deck">
            <a asp-controller="Review" class="card m-3 cardBoxShadow">
                <div class="cardBodyStyle">
                    <h3 class="textStyle">Просмотр</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card-deck">
            <a asp-controller="Load" class="card m-3 cardBoxShadow">
                <div class="cardBodyStyle">
                    <h3 class="textStyle">Загрузка</h3>
                </div>
            </a>
        </div>
    </div>
</div>